/*
// MyCOM Stylesheet
// Name: Motion
// Version 0.9.15.03
// Coded by: Nemesis
// NO CHANGES WITHOUT MY PERMISSION
// Copyright © 2009 | Ion-Light | Nemesis
// Last changes: 15.06.2009
// Graphics by: www.creative-graphics.de | Made by: Terry
*/

#avatarch{
height: auto;
width: 210px;
text-align: left;
margin-top: -290px;
margin-left: 320px;
}

#editors{
margin-top: 70px;
}